.div_force{
		width: auto;
		height: auto;
		margin-left: 100px;
		margin-top: 20px;
		float: left;
		
	}

	.div_information{
		width: 1200px;
		height: 1100px;
		margin-left: 80px;
		margin-top: 50px;
		float: left;
		color: black;
	}
	.basic_infor{
		width: auto;
		height: 330px;
	}

	.col-md-6{
			margin-top: 10px;
			margin-left: auto;
			width: 500px;
			height: 200px;
			
		}
	.panel-group .panel{
	    border:0px none;
	    border-radius: 0px;
	    box-shadow: none;
	    border-bottom: 1px solid #676767;
	    background: #eee;
	}
	.panel-heading{
		padding: 0;
	}
	.panel-default > .panel-heading {
		color: #7a4b94;
	}
	.panel-title{
		position: relative;
	}
	.panel-title > a{
		display: block;
		padding: 11px 35px;
		background: #fff;
		font-weight: 600;
	}
	.panel-title > a:hover,
	.panel-title > a:focus{
		text-decoration: none;
		outline: none;
	}
	.panel-title a:before{
		content: "\f068";
		font-family: 'FontAwesome';
		margin-right: 10px;
		color:#7a4b94;
		font-weight: normal;
		position: absolute;
		left:10px;
		top:11px;
	}
	.panel-title .collapsed:before{
	    content: "\f067";
	}
	.panel-title a.collapsed{
		color:#7a4b94;
		font-weight: normal;
	}
	.panel-body{
		color:#727272;
		padding: 5px 10px 30px;
		line-height: 23px;
		letter-spacing: 1px;
	}
	.panel-default > .panel-heading + .panel-collapse > .panel-body{
		border-top: 0px none;
	}
	.tooltip{
  font-family: simsun;
  font-size: 18px;
  width: 120;
  height: auto;
  position: absolute;
  text-align: center;
  border-style: solid; 
  border-width: 1px;
  background-color: white;
  border-radius: 5px;
}