<!--Modal AJAX -->
<div class="modal-demo modal-ajax">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" onclick="Custombox.close();"> <i class="fa fa-times" aria-hidden="true"></i>
				</button>
				<h4 class="modal-title">New Project</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="project" class="col-xs-2 control-label">Project</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" placeholder="project name" ng-model="new_project_name"/>
						</div>
					</div>
					<div class="form-group">
						<label for="track" class="col-xs-2 control-label">Track</label>
						<div class="col-xs-5">
							<select id="track" class="selectpicker" data-live-search="true" title="Please select a lunch ...">
								<option ng-repeat="track in tracks">{{track.track_name}}</option>
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="Custombox.close();">Cancel</button>
				<button type="button" class="btn btn-primary">Confirm</button>
			</div>
		</div>
	</div>
</div>

<script>
	$('.selectpicker').selectpicker();
	console.log(tracks);
</script>