<!DOCTYPE html>
<html ng-app="edit-app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>BioDesigner|Design</title>
	
	<link rel="stylesheet" href="../public/angular-material/angular-material.css">
    <link rel="stylesheet" href="../public/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/docs.css">
    <link rel="stylesheet" href="css/design_page.css">
	<link rel="stylesheet" href="css/dashboard.css">
	
	<!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="img/logo_black_small.png">
</head>
<body class="docs-body layout-row" layout="row" ng-controller="designController">
	<div id="edit-sidebar"  layout="row">
		<!-- side bar -->
	  	<md-sidenav md-component-id="left" tabindex="-1" class="site-sidenav md-sidenav-left md-whiteframe-z2 hide-print md-closed ng-isolate-scope md-locked-open" md-is-locked-open="$mdMedia('gt-sm')">
	 		<header class="nav-header">
		      	<a href="#" ng-href="/" class="docs-logo">
		        	<img src="img/logo_white_mini.png">
		        	<h1 class="docs-logotype md-heading">BioDesigner</h1>
		      	</a>
		    </header>
            <md-list layout="row" layout-wrap layout-margin layout-align="center">
                <md-input-container class="ai-edit-search">
                    <label>Search</label>
                    <input type="text" ng-model="key_word">
                </md-input-container>
                <md-button class="md-icon-button btn-search" ng-click="getSearchResult(key_word)">
                	<md-icon md-svg-src="img/search.svg" aria-label="search"></md-icon>
                </md-button>
            </md-list>
            <div id='test' ng-sortable="pullConfig">
		    	<div ng-class="{'search-item': inSearch, 'col-lg-2 col-md-2 col-sm-3 col-xs-3': inDesign}" ng-repeat="gene in search_info">
                        <img ng-src="{{gene.img}}" alt="gene_img">
						<span>{{gene.name}}</span>
					<md-divider></md-divider>
				</div>
	      	</div>
	  	</md-sidenav>
	</div>
	<!-- 主窗口 -->
  	<div id="edit-container" class="layout-column flex" layout="column" tabindex="-1" role="main">
  		<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
			<div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
				<div layout="row" flex="" class="fill-height layout-row flex">
					<md-button class="md-raised" ng-click="showAddFunctionTagsDialog($event)">Add Function Tags</md-button>
				</div>
			</div>
  		</md-toolbar>
  		<md-content class="layout-row flex" layout="row">
			<div class="layout-column flex" layout="column" flex="80">
				<div id="dashboard" flex="66" class="ai-edit-main row" ng-sortable="putConfig">
                    <canvas id="design_background"></canvas>
				</div>
                <div flex layout="row">
				    <div flex = '60' id="recommend" flex="34">
                        <!-- <div class = 'recommend_item' ng-repeat="gene in search_info | filter:gene_name">
                            <div>
                                <img src="../icons/Coding_large.png" alt="">
                                <span>{{gene.img}}</span>
                                <span>{{gene.name}}</span>
                            </div>
                        </div> -->
                        <div class = 'row recommend_list'>
                            <div class = 'col-lg-3 col-md-3 col-sm-3 col-xs-3 recommend_item'>
                                <div>
                                    <img src="../icons/Coding_large.png" alt="">
                                    <br>
                                    <span>bba_111111</span>
                                </div>
                            </div>
                            <div class = 'col-lg-3 col-md-3 col-sm-3 col-xs-3 recommend_item'>
                                <div>
                                    <img src="../icons/Coding_large.png" alt="">
                                    <br>
                                    <span>2</span>
                                </div>
                            </div>
                            <div class = 'col-lg-3 col-md-3 col-sm-3 col-xs-3 recommend_item'>
                                <div>
                                    <img src="../icons/Coding_large.png" alt="">
                                    <br>
                                    <span>3</span>
                                </div>
                            </div>
                            <div class = 'col-lg-3 col-md-3 col-sm-3 col-xs-3 recommend_item'>
                                <div>
                                    <img src="../icons/Coding_large.png" alt="">
                                    <br>
                                    <span>4</span>
                                </div>
                            </div>
                        </div>
				    </div>
                    <div id='clipboard' flex>
                        <p class="md-title">剪贴板</p>
                    </div>
			    </div>
            </div>
			<md-card layout="column" flex="20" tabindex="-1" class="md-whiteframe-z2" layout-padding>
				<md-card-title-text>
					<h2>Part Name</h2>
				</md-card-title-text>
				<md-card-title-text>
					<h4>Type: {{part_type}}</h4>
				</md-card-title-text>
				<md-card-title-text>
					<h4>Part Nick Name: {{part_nick_name}}</h4>
				</md-card-title-text>
				<md-card-title-text>
					<h4>Part Short Desc: {{part_short_desc}}</h4>
				</md-card-title-text>
				<md-card-title-text>
					<h4>Description: {{description}}</h4>
				</md-card-title-text><md-card-title-text>
					<h4>Score: {{score}}</h4>
				</md-card-title-text>
				<md-card-title-text>
					<h4>Papers: {{papers}}</h4>
				</md-card-title-text>
			</md-card>
  		</md-content>
  	</div>

    <script src="../public/analytics/analytics.js"></script>
    <script src="../public/jquery/dist/jquery.js"></script>
    <!--<script src="../public/Sortable/Sortable/jquery.fn.sortable.js"></script>-->
	<script src="../public/bootstrap/dist/js/bootstrap.js"></script>
  	<script src="../public/angular/angular.js"></script>
  	<script src="../public/angular-animate/angular-animate.js"></script>
  	<script src="../public/angular-route/angular-route.js"></script>
  	<script src="../public/angular-aria/angular-aria.js"></script>
  	<script src="../public/angular-messages/angular-messages.js"></script>
  	<script src="../public/angular-material/angular-material.js"></script>
  	<script src="../public/angular-sortable/Sortable.js"></script>
  	<script src="../public/angular-sortable/ng-sortable.js"></script>
    <script src="./js/design_page.js"></script>
  	<!--<script src="./js/dashboard.js"></script>-->
</body>
</html>