<!DOCTYPE html>
<html lang="en" ng-app="login-register">
<head>
    <meta charset="utf-8">
    <title>BioDesigner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../public/Swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="../public/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/angular-material/angular-material.min.css"/>
	<link rel="stylesheet" href="css/login_register_swiper.css"/>
	<link rel="stylesheet" href="css/login.css"/>
	<link rel="stylesheet" href="css/register.css"/>
	
	<!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/logo-small-57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/logo-small-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/logo-small-72.png">
    <link rel="apple-touch-icon-precomposed" href="img/logo-small-144.png">
</head>
<body>
	<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div id="login" class="swiper-slide" ng-controller="loginCtrl">
	            <div class="container">
                    <div class="col-sm-2 col-sm-offset-5 logo_image">
                		<img src="img/logo_white_small.png">
                   	</div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1><strong>BioDesigner</strong> Login </h1>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4" layout="column" ng-cloak>
                    	<form name="loginForm" ng-keypress="login_by_keyboard($event,username,password)">
                    		<md-input-container class="md-block">
						        <label>Username</label>
						        <input type="text" required name="username" ng-model="username">
					      	</md-input-container>
					      	<md-input-container class="md-block">
						        <label>Password</label>
						        <input type="password" required name="password" ng-model="password"
						        	minlength="8" maxlength="30">
						        <div ng-messages="loginForm.password.$error">
						          	<div ng-message-exp="['required','minlength','maxlength']">
						          		Your password must be between 8 and 30 characters long.
						          	</div>
						        </div>
					      	</md-input-container>
                    	</form>
                    	<md-button ng-click="login(username,password)">
                    		Log In
                    	</md-button>
                    </div>
	            </div>
            </div>
            <div id="register" class="swiper-slide" ng-controller="registerCtrl">
            	<div class="container">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1>Create a new Account</h1>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4" layout="column" ng-cloak>
                    	<form name="loginForm" ng-keypress="register_by_keyboard($event,username,email,password,repassword)">
                    		<md-input-container class="md-block">
						        <label>Username</label>
						        <input type="text" required name="username" ng-model="username">
					      	</md-input-container>
					      	<md-input-container class="md-block">
						        <label>Email</label>
						        <input type="email" required name="email" ng-model="email">
					      	</md-input-container>
					      	<md-input-container class="md-block">
						        <label>Password</label>
						        <input type="password" required name="password" ng-model="password"
						        	minlength="8" maxlength="30">
						        <div ng-messages="loginForm.password.$error">
						          	<div ng-message-exp="['required','minlength','maxlength']">
						          		Your password must be between 8 and 30 characters long.
						          	</div>
						        </div>
					      	</md-input-container>
					      	<md-input-container class="md-block">
						        <label>Comfirm</label>
						        <input type="password" required name="repassword" ng-model="repassword"
						        	minlength="8" maxlength="30">
						        <div ng-messages="loginForm.repassword.$error">
						          	<div ng-message-exp="['required','minlength','maxlength']">
						          		Your password must be between 8 and 30 characters long.
						          	</div>
						        </div>
					      	</md-input-container>
                    	</form>
                    	<md-button ng-click="register(username,email,password,repassword)">
                    		Register
                    	</md-button>
                    </div>
	            </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

	<script src="../public/jquery/dist/jquery.min.js"></script>
    <script src="../public/Swiper/dist/js/swiper.min.js"></script>
    <script src="../public/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../public/angular/angular.min.js"></script>
    <script src="../public/angular-material/angular-material.min.js"></script>
    <script src="../public/angular-messages/angular-messages.min.js"></script>
    <script src="../public/angular-animate/angular-animate.min.js"></script>
    <script src="../public/angular-aria/angular-aria.min.js"></script>
	<script src="js/login_register_init.js"></script>
	<script src="js/login_register.js"></script>
</body>
</html>