<md-dialog class="change-password-dialog dialog-opac" aria-label="Change_Password"  ng-cloak>
  	<form name="changePassword">
    	<md-toolbar class="md-primary">
      		<div class="md-toolbar-tools">
        		<h2 class="dialog-title">Change Password</h2>
    			<span flex></span>
        		<md-button class="md-icon-button" ng-click="cancel()">
          			<md-icon md-svg-src="img/close.svg" aria-label="Close dialog"></md-icon>
        		</md-button>
      		</div>
    	</md-toolbar>
    	<md-dialog-content>
      		<div class="md-dialog-content" layout="column" laout-padding>
	        	<md-input-container class="md-block" flex="80">
	        		<label>Old Password</label>
	        		<input type="password" name="proname" required ng-model="old_password">
	        		<div mg-messages="newproject.proname.$error" multiple md-auto-hide="true">
	        			<div ng-message="required"></div>
	        		</div>
	        	</md-input-container>
	        	<md-input-container class="md-block" flex="80">
	        		<label>New Password</label>
	        		<input type="password" name="proname" required ng-model="new_password">
	        		<div mg-messages="newproject.proname.$error" multiple md-auto-hide="true">
	        			<div ng-message="required"></div>
	        		</div>
	        	</md-input-container>
	        	<md-input-container class="md-block" flex="80">
	        		<label>Confirm</label>
	        		<input type="password" name="proname" required ng-model="re_password">
	        		<div mg-messages="newproject.proname.$error" multiple md-auto-hide="true">
	        			<div ng-message="required"></div>
	        		</div>
	        	</md-input-container>
      		</div>
    	</md-dialog-content>
	    <md-dialog-actions layout="row" layout-padding>
	      	<span flex></span>
	      	<md-button ng-click="cancel()">Cancel</md-button>
	      	<md-button class="md-primary md-raised" ng-click="change_password(old_password,new_password,re_password)">Confirm</md-button>
	    </md-dialog-actions>
  	</form>
</md-dialog>