<md-dialog class="logout-dialog dialog-opac" aria-label="logout"  ng-cloak>
  	<form name="logout">
	    <md-toolbar class="md-primary">
	      	<div class="md-toolbar-tools">
		        <h2 class="dialog-title">Log Out</h2>
		        <span flex></span>
		        <md-button class="md-icon-button" ng-click="cancel()">
		          	<md-icon md-svg-src="img/close.svg" aria-label="Close dialog"></md-icon>
		        </md-button>
	      	</div>
	    </md-toolbar>
	    <md-dialog-content>
	      	<div class="md-dialog-content" layout="column" laout-padding>
	        	<h2>Are you sure?</h2>
	      	</div>
	    </md-dialog-content>
	    <md-dialog-actions layout="row" layout-padding>
	      	<span flex></span>
	      	<md-button ng-click="cancel()">Cancel</md-button>
	      	<md-button class="md-primary md-raised" ng-click="log_out()">Ok</md-button>
	    </md-dialog-actions>
  	</form>
</md-dialog>