span {
	text-overflow: ellipsis;
}
#edit-container .ai-edit-main {
	margin:8px;
}
#edit-sidebar .ai-edit-search {
	padding-left: 0;
}
#edit-sidebar .btn-search {
	margin: 0;
}
#edit-sidebar .ai-edit-search label{
	left: 0;
	color: #000000;
}
#edit-sidebar .ai-search-item {
	color:#111;
}
#edit-sidebar .ai-search-item .ai-search-item-btn {
	display:block;
	width: 90%;
	line-height: 1.3em;
	font-size: 1.4em;
}