<!DOCTYPE html>
<html ng-app="bio-app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>BioDesigner|Project</title>
	
	<link rel="stylesheet" href="../public/angular-material/angular-material.css">
	<link rel="stylesheet" href="css/docs.css">
	<link rel="stylesheet" href="css/project_page.css">
	
	<!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="img/logo_black_small.png">
</head>
<body class="docs-body layout-row" layout="row" ng-controller="proController">
	<!-- 侧边栏 -->
	<div id="bio-sidebar"  layout="row">
	  	<md-sidenav md-component-id="left" class="site-sidenav md-sidenav-left md-whiteframe-z2 hide-print md-closed ng-isolate-scope md-locked-open" md-is-locked-open="$mdMedia('gt-sm')">
	 		<header class="nav-header">
		      	<a href="#" ng-href="/" class="docs-logo">
		        	<img src="img/logo_white.png">
		        	<h1 class="docs-logotype md-heading">BioDesigner</h1>
		      	</a>
		    </header>
		    <md-list layout="row" layout-wrap layout-margin layout-align="center">
		    	<md-list layout="row">
		    		<md-button ng-click="showNewProjectDialog($event)">
			        	<label>New Project</label>
			          	<md-icon md-svg-src="img/plus.svg" aria-label="add-project"></md-icon>
			        </md-button>
			        <span flex></span>
			        <md-button>
			        	Edit
			        </md-button>
		    	</md-list>
		    	<md-list-item layout="column" class="ai-project-item" ng-repeat="project in project_info">
					<div class="ai-project-item-btn" layout="row">
						<span flex ng-click="toggle_device($index)">{{project.name}}</span>
						<div ng-hide="!isEdit">
							<md-button class="md-icon-button" ng-click="showNewDeviceDialog($event, project.id)">
								<md-icon md-svg-src="img/plus.svg"></md-icon>
							</md-button>
							<md-button class="md-icon-button" ng-click="delete_project($index, project.id)">
								<md-icon md-svg-src="img/close.svg"></md-icon>
							</md-button>
						</div>
					</div>
					<md-list ng-hide="project.isDeviceShowed" class="ai-device-list" layout-padding>
						<md-list-item class="ai-device-item" ng-repeat="device in project.devices">
							<div ng-click="device_clicked(device.id)" class="ai-device-item-btn" layout="row">
								<span flex>{{device.name}}</span>
							</div>
							<md-divider></md-divider>
						</md-list-item>
					</md-list>
					<md-divider></md-divider>
				</md-list-item>
	      	</md-list>
	  	</md-sidenav>
	</div>
	<!-- 主窗口 -->
  	<div id="bio-container" class="layout-column flex" layout="column">
  		<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
			<div class="md-toolbar-tools">
				<div layout="row" class="fill-height layout-row flex">
					<h2 class="md-toolbar-item md-breadcrumb md-headline">
                      	<span class="md-breadcrumb-page ng-binding">动态标题</span>
                    </h2>
					<span flex></span>
                    <div class="md-toolbar-item docs-tools layout-row" layout="row">
                    	<md-button class="md-raised md-accent ai-gr" aria-label="Result">Get Result</md-button>
				      	<md-button class="md-raised md-accent ai-sr" aria-label="Result">System</md-button>
				      	<!--登出url-->
				      	<md-button href="#" class="md-raised" aria-label="Learn More">
			          		Logout
				        </md-button>
                    </div>
                    <!-- 头像没写 -->
				</div>
			</div>
  		</md-toolbar>
  		<md-content class="layout-row flex" layout="row">
			<div flex="80" class="ai-bio-main">
				<div class="ai-logo-design">
					<img src="{{device_img_src}}" alt="logo-design">
				</div>
			</div>
			<div flex="20" class="md-whiteframe-z2 ai-bio-side">
				<md-card layout="column" flex layout-padding>
					<md-card-title-text class="ai-device">
						<h2>Device name</h2>
					</md-card-title-text>
					<md-card-title-text class="ai-length">
						<h4>Length: {{length}}</h4>
					</md-card-title-text>
					<md-card-title-text class="ai-design">
						<md-button class="md-raised md-accent">Design</md-button>
					</md-card-title-text>
				</md-card>
			</div>
  		</md-content>
  	</div>

	<script src="../public/analytics/analytics.js"></script>
  	<script src="../public/angular/angular.js"></script>
  	<script src="../public/angular-animate/angular-animate.js"></script>
  	<script src="../public/angular-route/angular-route.js"></script>
  	<script src="../public/angular-aria/angular-aria.js"></script>
  	<script src="../public/angular-messages/angular-messages.js"></script>
  	<script src="../public/angular-material/angular-material.js"></script>
  	<script src="js/docs.js"></script>
  	<script src="js/docs-demo-scripts.js"></script>
  	<script src="js/project_page.js"></script>
</body>
</html>