.info{
    display:inline-block;
}
#dashboard{
    list-style: none;
    overflow :auto;
}
#dashboard div{
    cursor: move;
    width:20%;
    height: 20%;
    text-align: center;
}


#dashboard div span{
    display:block;
}

#dashboard div md-divider{
    display: none;
}
.search_item{
    cursor: move;
}
#recommend{
    margin-left: 5px;
}
#clipboard{
    overflow :auto;
}

.pull_left{
    float:left;
}

.pull_right{
    float:right;
}

.handle{
    margin-right: 10%;
}