.pull_right{
	float: right;
}
.pull_left{
	float: left;
}
.line{
	background: url(../img/x_bg.png);
}
.lt{
	background: url(../img/lt_bg.png);
}
.rt{
	background: url(../img/rt_bg.png);
}
.lb{
	background: url(../img/lb_bg.png);
}
.rb{
	background: url(../img/rb_bg.png);
}
